.initial {
    border-radius: 120px;
    border: 10px black solid;
    position: relative;
    padding: 20px;
    top: 100px;
    background-color: #9cada4; 
    margin: 0 auto;
    width: 55%;
  }
  
  h1 {
    color: white;
    width: 25%;
    height: 43px;
    margin: 10px 65px;
    padding: 5px;
    font-family: "Overpass", sans-serif;
  }
  
  h4 {
    color: white;
    margin: 20px 50px;
    font-size: small;
    font-family: "Overpass", sans-serif;
  }
  
  small {
    color: white;
    text-align: center;
    margin: 20px 50px;
    font-family: "Overpass", sans-serif;
  }
  
  p {
    font-size: 58px;
    text-align: left;
    font-weight: 100;
    color: white;
    font-family: "Overpass", sans-serif;
  }

  a {
    position: relative;
    left: 160px;
    top: -100px;
  }

  ul {
    position: relative;
    top: -120px;
    right: -220px;
  }

  li {
    list-style: none;
    color: white;
    font-family: "Overpass", sans-serif;
    text-transform: capitalize;
  }

  .form-row {
    position: relative;
    margin: 0px auto;
    color: white;
    font-family: "Overpass", sans-serif;
    padding: 30px;
    left: 100px;
  }

  .column {
    font-family: "Overpass", sans-serif;
    position: relative;
    margin: 0px auto;
    font-weight: bold;
    color: white;
  }

  #day {
    background: #e0ece4;
    padding: 5px;
  }
  